* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.logo{
  float: left;
  display: inline-block;
  margin-top: 8px;
  margin-right: 20px;
}

.row{
  margin: 0 -15px;
}

.row:after{
  content: "";
  clear: both;
  display: table;
}

[class^="col-"] {
  float: left;
  padding: 0 20px;
}

.col_100 {
  width: 100%;
}

.col_33 {
  width: calc(100% / 3);
}

.col_50 {
  width: 50%;
}
