* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.logo {
  float: left;
  display: inline-block;
  margin-top: 8px;
  margin-right: 20px;
}

.row {
  margin: 0 -15px;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

[class^="col_"] {
  float: left;
  padding: 0 20px;
}

.col_100 {
  width: 100%;
}

.col_33 {
  width: calc(100% / 3);
}

.col_50 {
  width: 50%;
}

nav {
  background-color: #0c325a;
  height: 80px;
  line-height: 80px;
  width: 100%;
}

nav ul {
  display: inline-block;
}

nav ul li {
  float: left;
  list-style: none;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 15px;
}

nav a ul li {
  text-decoration: none;
  color: #ffffff;
}

.butt_green {
  border-radius: 2px;
  background-color: #7CBB02;
}
